CompileFlags:
  Remove:
    - -std=*
  Add:
    - -DDBG_MACRO_NO_WARNING
    - -DLOCAL
    - -I/usr/local/include
    - -Wall
    - -Wextra
    - -Wshadow
    - -std=c++17

Completion:
  HeaderInsertion: Never
